:root {
  --background_color: #FCFCFC;
  --background_color_2: #FCFCFC;
  --brain_icon_background: rgb(210, 210, 210);
  --main_font_color: black;
  --border_color: #d7d7d7;
  --logo_color: black;
  --bw_button_background: white;
  --color_button_border_color: black;
  --color_button_border: 2px solid;
  --username_background_color: #e0e0e0;
  --logout_button_background: black;
  --logout_button_font: white;
  --logout_button_border: none;
  --logout_button_border_color: none;
  --click_hover: rgb(212, 212, 212, .5);
  --selected_background: rgb(183, 183, 183);
  --icon_color: black;
  --icon_border: 1.75px solid black;
  --icon_box_shadow: rgba(0, 0, 0, 0.15) 1.5px 1.5px 2.0px;
  --icon_border_radius: 5px;
  --icon_background: white;
  --icon_padding: 4px;
  --icon_font_size: 25px;
  --icon_label_color: #585858;
  --icon_label_font_size: .7em;
}
[data-theme="dark-mode"] {
  --background_color: #2b2b2b;
  --background_color_2: #2b2b2b;
  --brain_icon_background: rgb(170, 170, 170);
  --main_font_color: rgb(216, 216, 216);
  --border_color: #777777;
  --logo_color: #e1e1e1;
  --bw_button_background: #2b2b2b;
  --color_button_border_color: #646464;
  --color_button_border: none;
  --username_background_color: #5d5d5d;
  --logout_button_background: #2b2b2b;
  --logout_button_font: rgb(205, 205, 205);
  --logout_button_border: 2px solid;
  --logout_button_border_color: #646464;
  --click_hover: rgba(98, 98, 98, 0.172);
  --selected_background: rgb(90, 90, 90);
  --icon_color: #e1e1e1;
  --icon_border: none;
  --icon_box_shadow: rgba(173, 173, 173, 0.15) 1.5px 1.5px 2.0px;
  --icon_border_radius: 5px;
  --icon_background: #5d5d5d;
  --icon_padding: 4px;
  --icon_font_size: 25px;
  --icon_label_color: #828282;
  --icon_label_font_size: .7em;
}

html {
  background-color: var(--background_color);
  overscroll-behavior: none;
  scrollbar-color: white white;
}

body {
  background-color: var(--background_color);
  height: 100vh;
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
